:root {
    font-size: 16px;
    font-family: "Open Sans";
    --text-primary: #aaaaaa;
    --text-secondary: #eeeeee;
    --bg-primary: #2e2e2e;
    --bg-secondary: #161616;
    --transition-speed: 200ms;
}

body {
    color: black;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar-button {
    height: 0.5rem;
    background: #ff9f9c;
    border-radius: 50%;
}
body::-webkit-scrollbar {
    background: #2d2d2d;
    width: 0.50rem;
}


body::-webkit-scrollbar-track {
    background: #2d2d2d;
}

body::-webkit-scrollbar-thumb {
    background: #ff9f9c;
    border-radius: 5px;
}
main {
    margin-left: 5rem;
    padding: 1rem; 
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
  }

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}

.nav-item {
    width: 100%;
    color: #ff9f9c;
}

.nav-item:last-child {
    margin-top: auto;]
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: #ff9f9c;
 /* color: var(--text-primary);
    filter:grayscale(100%) opacity(0.7);*/
    transition: var(--transition-speed);
}

.nav-link:hover {
/* filter: grayscale(0%) opacity(1); */
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 14rem;
}
.navbar:hover .link-text {
    display: block;
}

.logo {
    display: flex;
    align-items: right;
    height: 5rem;
    color: #f09a9a;
    transition: var(--transition-speed);
}

.logo svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}
.navbar:hover .logo svg {
    transform: translateX(400%) rotate(180deg);
    
}

/* .fa-primary {
    color: #ff9f9c;
}

.fa-secondary {
    color: #ee7773;
}

.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
} */
